
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 414px) and (max-width: 768px){
  
/* CSS */

nav {
  padding: 0 1.35rem;
}

#logo {
  font-size: 1rem;
  font-weight: bold;
}

#logo i {
  font-size: 1rem;
  position: absolute;
  top:-40%;
  right: -15%;
}

.menu a {
  margin: 0 0.65rem;
}

.menu a i{
 font-size: 0.8rem;
}

.social-tag {
  right: 3%;
}

.wrapper {
  padding:1rem;
}

#home {
  display: flex;
  flex-direction: column-reverse;
}


#home-left {
  width: 100%;
}


#home-right {
  width: 100%;
}


#avater-box img{
  margin-left: 10%;
  margin-top: 20%;
  width: 17rem;
  height: 17rem;
}

#hi {
  font-size: 1.5rem;
}

#greet {
  font-size: 1.5rem;
}

#myname {
  font-size: 2.5rem;
}


#carrier {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  user-select: none;
}

#desc {
  text-align: justify;
  font-size: 0.75rem;
}
#desc i {
  font-size: 0.75rem;
}

#about {
  width: 100vw;
  height: 100vh;
}
.about-con {
  display: flex;
  flex-direction: column;
}
#about-left {
  margin-top: 20%;
  width: 100%;
}

.sub-title {
  font-size: 1rem;
}
#about-left p {
  font-size: 0.75rem;
}

#about-left ul li, #about-right ul li, #service-left ul li,  #about-left ul li span{
  margin: 1rem 0;
  font-size: 0.75rem;
}

#about-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

#about-right > .about-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#about-right > .about-img > img {
  margin-top: 1rem;
  width: 12rem;
}

.service-con {
  display: flex;
  flex-direction: column;
}

.about-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-img img {
  margin-top: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
}

#service-left {
  margin-top: 0%;
  width: 100%;
}

#service-right {
  width: 100%;
}

.lang {
  width: 20px;
}

.project-page-title {
  margin-top: 20%;
  font-size: 1.25rem;
}


#project-subtitle {
  font-size: 0.8rem;
}

.project-page-title i{
  font-size: 0.8rem;
}

.project {
  width: 100%;
}
.project-img {
  width: 80%;
  height: 10rem;
  object-fit: cover;
}


  
}

@media (min-width: 200px) and (max-width: 400px) {
  
  /* CSS */
  
  nav {
    padding: 0 1rem;
  }
  
  #logo {
    font-size: 0.85rem;
    font-weight: bold;
  }
  
  #logo i {
    font-size: 0.85rem;
    position: absolute;
    top:-40%;
    right: -15%;
  }
  
  .menu a {
    margin: 0 0.35rem;
  }
  
  .menu a i{
   font-size: 0.65rem;
  }
  
  .social-tag {
    right: 3%;
  }

  .social-tag i {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  
  #tag-bar {
    width: 3px;
  }

  footer {
    padding: 0.65rem 1rem;
    font-size: 10px;
  }

  footer i {
    font-size: 10px;
  }
  
  .wrapper {
    padding:1rem;
  }
  
  #home {
    display: flex;
    flex-direction: column-reverse;
  }
  
  
  #home-left {
    width: 100%;
  }
  
  
  #home-right {
    margin-top: 80%;
    width: 100%;
  }


  #avater-box {
    margin-top: 20%;
    width: 15rem;
    height: 15rem;
  }
  
  #cbtn , #cbtn i {
    font-size: 0.85rem;
  }
  
  #avater-box img{
    margin-left: 5%;
    margin-top: 10%;
    width: 10rem;
    height: 10rem;
  }
  
  #hi {
    font-size: 1rem;
  }
  
  #greet {
    font-size: 1rem;
  }
  
  #myname {
    font-size: 1.65rem;
    margin: 0;
  }
  
  #desc {
    font-size: 0.5rem;
  }
  #desc i {
    font-size: 0.5rem;
  }
  
  #about {
    width: 100vw;
    height: 100vh;
  }
  .about-con {
    display: flex;
    flex-direction: column;
  }
  #about-left {
    margin-top: 15%;
    width: 100%;
  }
  
  .sub-title {
    font-size: 0.85rem;
  }
  #about-left p {
    font-size: 0.6rem;
  }
  
  #about-left ul li, #about-right ul li, #service-left ul li,  #about-left ul li span{
    margin: 0.35rem 0;
    font-size: 0.6rem;
  }
  
  #about-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  #about-right > .about-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #about-right > .about-img > img {
    margin-top: 1rem;
    width: 10rem;
  }
  
  .service-con {
    display: flex;
    flex-direction: column;
  }
  
  .about-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .about-img img {
    margin-top: 2rem;
    width: 10rem;
    margin-bottom: 0.75rem;
  }
  
  #service-left {
    margin-top: 0%;
    width: 100%;
  }
  
  #service-right {
    width: 100%;
  }
  
  .lang {
    width: 20px;
  }
  
  .project-page-title {
    margin-top: 15%;
    font-size: 1.25rem;
  }
  
  
  #project-subtitle {
    font-size: 0.6rem;
  }
  
  .project-page-title i{
    font-size: 0.6rem;
  }
  
  .project {
    width: 100%;
  }
  .project-img {
    width: 80%;
    height: 8rem;
    object-fit: cover;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-desc {
    font-size: 0.7rem;
  }

  .project-language span {
    font-size: 0.7rem;
  }
  
  
    
  }